<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>737250648558-71837g8hkupnvtm97nld36od2raqafav.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.737250648558-71837g8hkupnvtm97nld36od2raqafav</string>
	<key>API_KEY</key>
	<string>AIzaSyB1HMvXxbsbXwZZOYUU1dNqEwQ4fX7T6jY</string>
	<key>GCM_SENDER_ID</key>
	<string>737250648558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jboi.lastshit</string>
	<key>PROJECT_ID</key>
	<string>lost-34e22</string>
	<key>STORAGE_BUCKET</key>
	<string>lost-34e22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737250648558:ios:c4a3907baf321d6f</string>
	<key>DATABASE_URL</key>
	<string>https://lost-34e22.firebaseio.com</string>
</dict>
</plist>